In [1]:
import pandas as pd

df = pd.read_csv('accidents_2017.csv')
df.head()

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360885
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca ...,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668
4,2017S004615,Sant Martí,el Camp de l'Arpa del Clot,Las Navas de Tolosa ...,Thursday,May,25,14,Afternoon,1,0,1,3,2.185272,41.416365

In [2]:
df.columns

Index(['Id', 'District Name', 'Neighborhood Name', 'Street', 'Weekday',
       'Month', 'Day', 'Hour', 'Part of the day', 'Mild injuries',
       'Serious injuries', 'Victims', 'Vehicles involved', 'Longitude',
       'Latitude'],
      dtype='object')

In [3]:
# List of columns names

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10339 entries, 0 to 10338
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 10339 non-null  object
 1   District Name      10339 non-null  object
 2   Neighborhood Name  10339 non-null  object
 3   Street             10339 non-null  object
 4   Weekday            10339 non-null  object
 5   Month              10339 non-null  object
 6   Day                10339 non-null  int64
 7   Hour               10339 non-null  int64
 8   Part of the day    10339 non-null  object
 9   Mild injuries      10339 non-null  int64
 10  Serious injuries   10339 non-null  int64
 11  Victims            10339 non-null  int64
 12  Vehicles involved  10339 non-null  int64
 13  Longitude          10339 non-null  float64
 14  Latitude           10339 non-null  float64
dtypes: float64(2), int64(6), object(7)
memory usage: 1.2+ MB

In [4]:
import numpy as np

# Apparently, there are not null values

df.isnull().sum().any()

# False meaning there are not null values

# replace Unknown with n.a

df.replace('Unknown', np.nan, inplace=True)

# Now, there are null values
df.isnull().sum().any()

#True

#Access number of null values using the .info() method
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10339 entries, 0 to 10338
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 10339 non-null  object
 1   District Name      10312 non-null  object
 2   Neighborhood Name  10312 non-null  object
 3   Street             10339 non-null  object
 4   Weekday            10339 non-null  object
 5   Month              10339 non-null  object
 6   Day                10339 non-null  int64
 7   Hour               10339 non-null  int64
 8   Part of the day    10339 non-null  object
 9   Mild injuries      10339 non-null  int64
 10  Serious injuries   10339 non-null  int64
 11  Victims            10339 non-null  int64
 12  Vehicles involved  10339 non-null  int64
 13  Longitude          10339 non-null  float64
 14  Latitude           10339 non-null  float64
dtypes: float64(2), int64(6), object(7)
memory usage: 1.2+ MB

## We can analyze where accident happened using the longitude and Latitude

### Before we start to draw conclusions using our data, we are going to clean it. The first cleaning step consists of droping unnessary columns to simplify the data frame

## Data cleaning

In [5]:
# Drop unnecessary columns
df.drop(['District Name', 'Neighborhood Name', 'Part of the day',], axis=1, inplace=True)

#columns after dropping
df.columns

Index(['Id', 'Street', 'Weekday', 'Month', 'Day', 'Hour', 'Mild injuries',
       'Serious injuries', 'Victims', 'Vehicles involved', 'Longitude',
       'Latitude'],
      dtype='object')

#### Change columns names. replace spaces by underscore and upper case letters.

In [6]:
df.rename(columns=lambda x:x.replace(' ','_').lower(), inplace=True)
df.columns

Index(['id', 'street', 'weekday', 'month', 'day', 'hour', 'mild_injuries',
       'serious_injuries', 'victims', 'vehicles_involved', 'longitude',
       'latitude'],
      dtype='object')


#### Add a column with the year in this case 2017

In [7]:
df['year']=np.repeat(2017, df.shape[0])
df.head()

,id,street,weekday,month,day,hour,mild_injuries,serious_injuries,victims,vehicles_involved,longitude,latitude,year
0,2017S008429,Número 27 ...,Friday,October,13,8,2,0,2,2,2.125624,41.340045,2017
1,2017S007316,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,2,0,2,2,2.120452,41.339426,2017
2,2017S010210,Litoral (Besòs) ...,Friday,December,8,21,5,0,5,2,2.167356,41.360885,2017
3,2017S006364,Número 3 Zona Franca ...,Friday,July,21,2,1,0,1,2,2.124529,41.337668,2017
4,2017S004615,Las Navas de Tolosa ...,Thursday,May,25,14,1,0,1,3,2.185272,41.416365,2017

##### we can combine weekday, month, day, hour, and year into one single column called date.
                And to avoid a ValueError, we have to convert month names into integers before using the pandas.to datetime function

In [8]:
# Obtain month names
list(df.month.unique())

#Month names to int
month_to_int = {'January':1, 'February':2, 'March':3, 'April':4, 'May':5, 'June':6, 'July':7, 'August':8, 'September':9, 'October':10, 'November':11, 'December':12}

#convert month names to numbers
df['month'].replace(month_to_int, inplace=True)

#obtain new month names
list(df.month.unique())

[10, 9, 12, 7, 5, 6, 1, 4, 3, 11, 2, 8]

### Combine columns month day and year to create a single datetime column

In [9]:
df['date']=pd.to_datetime(df[['year', 'month', 'day', 'hour']])
df.head()

,id,street,weekday,month,day,hour,mild_injuries,serious_injuries,victims,vehicles_involved,longitude,latitude,year,date
0,2017S008429,Número 27 ...,Friday,10,13,8,2,0,2,2,2.125624,41.340045,2017,2017-10-13 08:00:00
1,2017S007316,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,9,1,13,2,0,2,2,2.120452,41.339426,2017,2017-09-01 13:00:00
2,2017S010210,Litoral (Besòs) ...,Friday,12,8,21,5,0,5,2,2.167356,41.360885,2017,2017-12-08 21:00:00
3,2017S006364,Número 3 Zona Franca ...,Friday,7,21,2,1,0,1,2,2.124529,41.337668,2017,2017-07-21 02:00:00
4,2017S004615,Las Navas de Tolosa ...,Thursday,5,25,14,1,0,1,3,2.185272,41.416365,2017,2017-05-25 14:00:00

## Since we can access all the information we need related to the date of the accident

In [11]:
# Extract the year
df['date'].dt.year

# Extract the month
df['date'].dt.month

# Extract the day
df['date'].dt.day

# Extract the hour
df['date'].dt.hour

# Extract the day of the week
df['date'].dt.dayofweek

# Day of the week - first five elements of the returned serie.
df['date'].dt.dayofweek.head()

0    4
1    4
2    4
3    4
4    3
Name: date, dtype: int64

## Then we can drop columns month, year, day and day of the week

In [12]:
#Drop columns hour, day, month, year, weekday

df.drop(['hour', 'day', 'month', 'year', 'weekday'], axis=1, inplace=True)

### Finally we can drop the street column as well since we are going to visualize where the accidents happened using longitude and latitude

In [13]:
df.drop(['street'], axis=1, inplace=True)

In [14]:
df.head()

,id,mild_injuries,serious_injuries,victims,vehicles_involved,longitude,latitude,date
0,2017S008429,2,0,2,2,2.125624,41.340045,2017-10-13 08:00:00
1,2017S007316,2,0,2,2,2.120452,41.339426,2017-09-01 13:00:00
2,2017S010210,5,0,5,2,2.167356,41.360885,2017-12-08 21:00:00
3,2017S006364,1,0,1,2,2.124529,41.337668,2017-07-21 02:00:00
4,2017S004615,1,0,1,3,2.185272,41.416365,2017-05-25 14:00:00

## To easly access information about car accident, we are going to set aside id as the index of the data frame, removing before the trailing spaces in id entries

In [19]:
# We have noticed that id has spaces at the end of the string
df.id.loc[0]
# '2017S008429    '

# We remove the spaces in the entries of id
df.id = df.id.apply(lambda x: x.strip())

#We have removed the spaces successfully
df.id.loc[0]
#'2017S008429'

# we can set id index as the index of the dataframe
df.set_index('id', inplace=True)

# now we can easly access information about an accident using its id.
df.loc['2017S008429']

mild_injuries                          2
serious_injuries                       0
victims                                2
vehicles_involved                      2
longitude                        2.12562
latitude                           41.34
date                 2017-10-13 08:00:00
Name: 2017S008429, dtype: object

## The final step of data cleaning step consists of evaluating whether there are duplicated entries in the data frame. If so we will remove these duplicates as they represent same car accident

In [22]:
# Assess whether or not the dataframe contains duplicated rows
df.duplicated().sum()
# 9

#print duplicated rows.
df[df.duplicated()]

,mild_injuries,serious_injuries,victims,vehicles_involved,longitude,latitude,date
id,,,,,,,
2017S006811,1,0,1,2,2.147915,41.393601,2017-08-07 10:00:00
2017S003575,1,0,1,2,2.194670,41.412827,2017-04-21 10:00:00
2017S003286,1,0,1,1,2.136744,41.357598,2017-04-10 13:00:00
2017S008856,1,0,1,1,2.203962,41.407568,2017-10-26 08:00:00
2017S003750,1,0,1,1,2.168836,41.386306,2017-04-27 16:00:00
2017S001504,1,0,1,2,2.139400,41.418656,2017-02-23 14:00:00
2017S004447,1,0,1,1,2.209813,41.402218,2017-05-19 20:00:00
2017S005606,1,0,1,3,2.189016,41.383396,2017-06-27 17:00:00
2017S003201,1,0,1,1,2.168349,41.430413,2017-04-06 19:00:00

### Shape the dataframe before remvoing the duplicated column

In [25]:
df.shape

# (10339, 7)

# Drop duplicates

df.drop_duplicates(inplace=True)

df.shape

#(10330, 7)

(10330, 7)

# Time Analysis

## How many accidents were rgistered by the police in Bercelona in 2017
    We can easly obtain the total number of accidents registered in bercelona 2017 by using the pandas.Dataframe.shape attribute, since each entry of the data frame represent a different car accident

In [26]:
print(f'Total number of accidents in 2017 :{(df.shape[0])}')

Total number of accidents in 2017 :10330