In [1]:
import pandas as pd

df = pd.read_csv('accidents_2017.csv')
df.head()

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360885
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca ...,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668
4,2017S004615,Sant Martí,el Camp de l'Arpa del Clot,Las Navas de Tolosa ...,Thursday,May,25,14,Afternoon,1,0,1,3,2.185272,41.416365

In [3]:
df.columns

Index(['Id', 'District Name', 'Neighborhood Name', 'Street', 'Weekday',
       'Month', 'Day', 'Hour', 'Part of the day', 'Mild injuries',
       'Serious injuries', 'Victims', 'Vehicles involved', 'Longitude',
       'Latitude'],
      dtype='object')

In [5]:
# List of columns names

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10339 entries, 0 to 10338
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 10339 non-null  object
 1   District Name      10339 non-null  object
 2   Neighborhood Name  10339 non-null  object
 3   Street             10339 non-null  object
 4   Weekday            10339 non-null  object
 5   Month              10339 non-null  object
 6   Day                10339 non-null  int64
 7   Hour               10339 non-null  int64
 8   Part of the day    10339 non-null  object
 9   Mild injuries      10339 non-null  int64
 10  Serious injuries   10339 non-null  int64
 11  Victims            10339 non-null  int64
 12  Vehicles involved  10339 non-null  int64
 13  Longitude          10339 non-null  float64
 14  Latitude           10339 non-null  float64
dtypes: float64(2), int64(6), object(7)
memory usage: 1.2+ MB

In [ ]:
import numpy as np

# Apparently, there are not null values

df.isnull().sum().any()

# False meaning there are not null values

# replace Unknown with n.a

df.replace('Unknown', np.nan, inplace=True)