In [1]:
import pandas as pd

df = pd.read_csv('accidents_2017.csv')
df.head()

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360885
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca ...,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668
4,2017S004615,Sant Martí,el Camp de l'Arpa del Clot,Las Navas de Tolosa ...,Thursday,May,25,14,Afternoon,1,0,1,3,2.185272,41.416365

In [3]:
df.columns

Index(['Id', 'District Name', 'Neighborhood Name', 'Street', 'Weekday',
       'Month', 'Day', 'Hour', 'Part of the day', 'Mild injuries',
       'Serious injuries', 'Victims', 'Vehicles involved', 'Longitude',
       'Latitude'],
      dtype='object')

In [5]:
# List of columns names

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10339 entries, 0 to 10338
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 10339 non-null  object
 1   District Name      10339 non-null  object
 2   Neighborhood Name  10339 non-null  object
 3   Street             10339 non-null  object
 4   Weekday            10339 non-null  object
 5   Month              10339 non-null  object
 6   Day                10339 non-null  int64
 7   Hour               10339 non-null  int64
 8   Part of the day    10339 non-null  object
 9   Mild injuries      10339 non-null  int64
 10  Serious injuries   10339 non-null  int64
 11  Victims            10339 non-null  int64
 12  Vehicles involved  10339 non-null  int64
 13  Longitude          10339 non-null  float64
 14  Latitude           10339 non-null  float64
dtypes: float64(2), int64(6), object(7)
memory usage: 1.2+ MB

In [6]:
import numpy as np

# Apparently, there are not null values

df.isnull().sum().any()

# False meaning there are not null values

# replace Unknown with n.a

df.replace('Unknown', np.nan, inplace=True)

# Now, there are null values
df.isnull().sum().any()

#True

#Access number of null values using the .info() method
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10339 entries, 0 to 10338
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 10339 non-null  object
 1   District Name      10312 non-null  object
 2   Neighborhood Name  10312 non-null  object
 3   Street             10339 non-null  object
 4   Weekday            10339 non-null  object
 5   Month              10339 non-null  object
 6   Day                10339 non-null  int64
 7   Hour               10339 non-null  int64
 8   Part of the day    10339 non-null  object
 9   Mild injuries      10339 non-null  int64
 10  Serious injuries   10339 non-null  int64
 11  Victims            10339 non-null  int64
 12  Vehicles involved  10339 non-null  int64
 13  Longitude          10339 non-null  float64
 14  Latitude           10339 non-null  float64
dtypes: float64(2), int64(6), object(7)
memory usage: 1.2+ MB

## We can analyze where accident happened using the longitude and Latitude

### Before we start to draw conclusions using our data, we are going to clean it. The first cleaning step consists of droping unnessary columns to simplify the data frame

## Data cleaning

In [7]:
# Drop unnecessary columns
df.drop(['District Name', 'Neighborhood Name', 'Part of the day',], axis=1, inplace=True)

#columns after dropping
df.columns

Index(['Id', 'Street', 'Weekday', 'Month', 'Day', 'Hour', 'Mild injuries',
       'Serious injuries', 'Victims', 'Vehicles involved', 'Longitude',
       'Latitude'],
      dtype='object')

#### Change columns names. replace spaces by underscore and upper case letters.

In [8]:
df.rename(columns=lambda x:x.replace(' ','_').lower(), inplace=True)
df.columns

Index(['id', 'street', 'weekday', 'month', 'day', 'hour', 'mild_injuries',
       'serious_injuries', 'victims', 'vehicles_involved', 'longitude',
       'latitude'],
      dtype='object')


#### Add a column with the year in this case 2017

In [12]:
df['year']=np.repeat(2017, df.shape[0])
df.head()

,id,street,weekday,month,day,hour,mild_injuries,serious_injuries,victims,vehicles_involved,longitude,latitude,year
0,2017S008429,Número 27 ...,Friday,October,13,8,2,0,2,2,2.125624,41.340045,2017
1,2017S007316,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,2,0,2,2,2.120452,41.339426,2017
2,2017S010210,Litoral (Besòs) ...,Friday,December,8,21,5,0,5,2,2.167356,41.360885,2017
3,2017S006364,Número 3 Zona Franca ...,Friday,July,21,2,1,0,1,2,2.124529,41.337668,2017
4,2017S004615,Las Navas de Tolosa ...,Thursday,May,25,14,1,0,1,3,2.185272,41.416365,2017

##### we can combine weekday, month, day, hour, and year into one single column called date.
                And to avoid a ValueError, we have to convert month names into integers before using the pandas.to datetime function

In [ ]:
# Obtain month names
list(df.month.unique())

#Month names to int
month_to_int = {'January':1, 'February':2, 'April':4, 'May':5, 'June':6, 'July':7, 'August':8, 'September':9, 'October':10, 'November':11, 'December':12}

#convert month names to numbers
df['month'].replace(month_to_int, inplace=True)

#obtain new month names
list(df.month.unique)